@CHARSET "utf-8";

.searchpanel {	
	width:98%;height:99%;
	display:table;
	margin: 0px auto;
	border:solid 2px #eee;
	-webkit-border-radius:5px;
	background-color:rgba(222,222,222,0.6);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .6)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .3)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
	font:normal normal 宋体,Tahoma,Arial,Geogia,Sans-serif;
	
	overflow:auto;
}

.searchpanel .searchfield {
	margin: 50px auto;
	padding: 1px;
	width:360px;height:30px;
	border:1px none #eee;
	-webkit-border-radius:10px;
	background-color:rgba(250,250,250,1);
	font:normal 16 宋体,Tahoma,Arial,Geogia,Sans-serif;
}

.searchtext{
	width:80%;height:100%;
	margin-left:6px;
	border:none;
	background-color:rgba(250,250,250,0);
	
	font-weight: lighter;
}
.searchtext:focus {
	outline: none;
}
.searchbutton {
	float:right;
	width:17%;height:100%;
	-webkit-border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	background-color:rgba(200,200,200,0.6);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .6)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .3)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
		
	text-align:center;
	vertical-align:middle;
	line-height:30px;
	font-weight:bold;
	cursor:pointer;
}
.searchbutton:hover {
	background-color:rgba(200,200,200,0.8);
}

.historyfield {
	margin: 50px auto;
	width:50%;
}

.historyfield span {
	font-weight:lighter;
}

.historyfield hr {
	
}
.historyfield div {
	float: left;
	padding: 6px 2px 3px;
	margin: 2px 4px;
	cursor: pointer;
	width:22%; height:20px;
	overflow:hidden;
}
.historyfield div:hover {
	padding: 5px 1px 2px;
	border:solid 1px #888;
	-webkit-border-radius:3px;
	background-color:rgba(200,200,200,0.4);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .6)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .3)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
}