@CHARSET "utf-8";

.settingpanel {	
	float:left;
	width:100%;height:100%;	
}

.settingpanel .settingpanelleft {
	float:left;
	margin: 10px 5px 5px;
	width:30%;height:95%;
	border:solid 2px #eee;
	-webkit-border-radius:5px;
	background-color:rgba(222,222,222,0.6);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .6)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .3)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
	font:normal normal 宋体,Tahoma,Arial,Geogia,Sans-serif;
	
	overflow:auto;
}

.settingpanelleft ul {
	list-style:none;
	margin: 10px 0px;
	padding: 10px;
	font-weight:bolder;
}

.settingpanelleft ul li {
	padding: 5px;
	cursor:pointer;
}

.settingpanelleft li:hover {
	padding: 4px;
	-webkit-border-radius:3px;
	border:solid 1px #aaa;
	background-color:rgba(200,200,200,0.3);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .3)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .2)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
}

.settingpanelleft .selected {
	padding: 4px;
	-webkit-border-radius:3px;
	border:solid 1px #aaa;
	background-color:rgba(200,200,200,0.3);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .3)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .2)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
}

.settingpanelleft ul li a {
	padding: 3px;
	padding-left: 26px;
}

.settingpanelleft div {
	display:list-item;
	margin: 0px 10px;
	padding: 10px;
	font-weight:bolder;
}

.settingpanelleft img {
	float:left;
	-webkit-border-radius:2px;
	margin:1px 10px;
}

.settingpanelleft div ul {
	margin: 5px auto;
	padding: 0px;
}

.settingpanelleft div ul a {
	display:list-item;
	margin:0px;padding:0px;
}

.settingpanelleft .cnfol {
	width:90%;
	display:list-item;
	background:transparent url(../icons/logo/cnfol.ico) no-repeat 3px 3px !important;
}

.settingpanelleft .twitter {
	width:90%;
	display:list-item;
	background:transparent url(../icons/logo/twitter.ico) no-repeat 3px 3px !important;
}

.settingpanelleft .sohu {
	width:90%;
	display:list-item;
	background:transparent url(../icons/logo/sohu.ico) no-repeat 3px 3px !important;
}

.settingpanelleft .setting {
	width:90%;
	display:list-item;
	background:transparent url(../icons/settings.png) no-repeat 2px top !important;
}


.settingpanel .settingpanelright {
	float:right;
	margin: 10px 5px 5px;
	width:66%;;height:95%;
	border:solid 2px #eee;
	-webkit-border-radius:5px;
	background-color:rgba(222,222,222,0.6);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(10%, rgba(255, 255, 255, .6)),/*透明度 40%*/
		color-stop(60%, rgba(255, 255, 255, .3)), /*透明度 70%*/
		color-stop(100%, rgba(255, 255, 255, .1)));/*透明度 90%*/
	font:normal 20px 宋体,Tahoma,Arial,Geogia,Sans-serif;
	
	overflow:auto;
}

.settingpanelright .rightcontainer {
	width:100%;height:100%;
}

.loginpanel {	
	padding:50px 30px 0px;
	margin:0px auto;
}
.loginpanel table{
	margin:30px auto;
}

.btn-login {
	width:80px;
	margin:10px 20px 0px;
	font:normal normal 宋体,Tahoma,Arial,Geogia,Sans-serif;
}
