@CHARSET "utf-8";

.skinpanel {	
	float:left;
	width:100%;height:100%;	
}

.skinpanel .skinsetting {
	margin:20px auto;
	width:90%;
	font:normal 14px 宋体,Tahoma,Arial,Geogia,Sans-serif;
}
.skinsetting span {	
	float: left;
	display:block;
	width:100%;
	font:bolder 16px 宋体,Tahoma,Arial,Geogia,Sans-serif;
}
.skinsetting hr {
	float: left;
	width: 100%;
}

.skinsetting ul {
	list-style:none;
	margin: 10px 0px;
	padding: 10px 0px 50px 5px;
	font-weight: lighter;
}

.skinsetting ul li {
	padding: 5px;
	cursor:pointer;
	float:left;
}

.skinsetting ul li label{
	float: left;
}
.skinsetting ul li ul{
	margin: 0px auto;
	padding: 0px 28px;
}
.skinsetting ul li ul .time{
	font-size:small;
	display:none;
}
.skinsetting ul li ul .time input{
	width: 50px;
	margin-right: 5px;
}
.skinsetting #colorSelector {
	float: left;
	margin:-10px 50px 0px 0px;
}

.skinsetting .sliderdemo {
	float: left;
	margin:0px auto;
	width: 150px;
}