@CHARSET "utf-8";

.nativewindow {
	margin:0px auto;
	display: table;
	width:100%;height:100%;
	-webkit-border-radius:5px;	
	background-color:rgba(175,175,175,0.8);
	font:normal normal Tahoma,Arial,Geogia,宋体,Sans-serif;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%, rgba(255, 255, 255, .6)),
		color-stop(8%, rgba(255, 255, 255, .3)),
		color-stop(16%, rgba(255, 255, 255, .1)), 
		color-stop(100%, rgba(255, 255, 255, 0)));
}
.windowheader {
	height:100%;width:100%;
	display:table-header-group; 
	vertical-align: top;
}
.windowheader .title {
	float: left;
	padding: 3px 5px 0px;
	font-size: 20px;
}
.windowheader .tools-close {
	float: right;
	margin-right: 10px;
	width:36px; height:16px;
	background:transparent url(../icons/window/close.png) no-repeat -2px right !important;
}
.windowheader .tools-close:hover {
	background:transparent url(../icons/window/close_hover.png) no-repeat -2px right !important;
}
.windowheader .tools-minimize {
	float: right;
	width:25px; height:16px;
	margin-right: 1px;
	background:transparent url(../icons/window/minimize.png) no-repeat -2px left !important; 
}
.windowheader .tools-minimize:hover {
	background:transparent url(../icons/window/minimize_hover.png) no-repeat -2px left !important; 
}
.windowheader .tools-maximize {
	float: right;
	margin-right: 1px;
	background:transparent url(../icons/window/maximize.png) no-repeat top center !important; 
}
.windowheader .tools-restore {
	float: right;
	background:transparent url(../icons/window/restore.png) no-repeat top center !important; 
}

.windowbody {
	height:100%;width:100%;
	padding:8px;
	display:table-cell;
}

.windowbody .navipanel {
	margin: 0px auto;
	height:64px;width:100%;
	background-color:rgba(255,255,255,0.2);
	-webkit-border-radius:5px;
}
.navipanel .billinputnavi {
	float:right;
	height:64px;width:64px;
	background:transparent url(../icons/navibar/navibar.png) no-repeat top left !important;
	cursor:pointer;
}
.navipanel .billchecknavi {
	float:right;
	height:64px;width:64px;
	background:transparent url(../icons/navibar/navibar.png) no-repeat top -64px !important;
	cursor:pointer;
}
.navipanel .storagenavi {
	float:right;
	height:64px;width:64px;
	background:transparent url(../icons/navibar/navibar.png) no-repeat top -128px !important;
	cursor:pointer;
}
.navipanel .clientsnavi {
	float:right;
	height:64px;width:64px;
	background:transparent url(../icons/navibar/navibar.png) no-repeat top -192px !important;
	cursor:pointer;
}
.navipanel .onlinenavi {
	float:right;
	height:64px;width:64px;
	background:transparent url(../icons/navibar/navibar.png) no-repeat top -256 !important;
	cursor:pointer;
}
.navipanel .homenavi {
	float:right;
	height:64px;width:64px;
	background:transparent url(../icons/navibar/navibar.png) no-repeat top -320 !important;
	cursor:pointer;
}
.navipanel .billinputnavi:hover {
	background:transparent url(../icons/navibar/navibar_hover.png) no-repeat top left !important; 
}
.navipanel .billchecknavi:hover {
	background:transparent url(../icons/navibar/navibar_hover.png) no-repeat top -64px !important; 
}
.navipanel .storagenavi:hover {
	background:transparent url(../icons/navibar/navibar_hover.png) no-repeat top -128px !important; 
}
.navipanel .clientsnavi:hover {
	background:transparent url(../icons/navibar/navibar_hover.png) no-repeat top -192px !important; 
}
.navipanel .onlinenavi:hover {
	background:transparent url(../icons/navibar/navibar_hover.png) no-repeat top -256 !important; 
}
.navipanel .homenavi:hover {
	background:transparent url(../icons/navibar/navibar_hover.png) no-repeat top -320 !important; 
}

.windowbody .contentpanel {
	margin-top:10px;
}
.windowbody .stockspanel {
	float:left;
	margin-top:0px;
	height:510px;width:35%;
}
.windowbody .billpanel {
	float:right;
	margin-top:0px;
	height:510px;width:64%;
	background-color:rgba(255,255,255,1);
	-webkit-border-radius:5px;
}
